flow.json
[
    {
        "id": "d086e503.3cf068",
        "type": "tab",
        "label": "Living room AC",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9c0df045.270c3",
        "type": "mqtt in",
        "z": "d086e503.3cf068",
        "name": "Control LR AC power",
        "topic": "/livingroom/AC/power",
        "qos": "2",
        "broker": "17712889.938867",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "29661639.72cd5a"
            ]
        ],
        "outputLabels": [
            "topic"
        ]
    },
    {
        "id": "ab93e1c6.b2f35",
        "type": "ui_switch",
        "z": "d086e503.3cf068",
        "name": "Set LR AC power switch",
        "label": "Power",
        "group": "c86ef679.165f28",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "/livingroom/AC",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 118.90010070800781,
        "y": 326.00003814697266,
        "wires": [
            [
                "bf391096.52927"
            ]
        ]
    },
    {
        "id": "702939c8.771748",
        "type": "mqtt in",
        "z": "d086e503.3cf068",
        "name": "In -> Watch LR AC Temp",
        "topic": "/livingroom/AC/temp",
        "qos": "0",
        "broker": "17712889.938867",
        "x": 115,
        "y": 679.8890066146851,
        "wires": [
            [
                "63b75e76.75d01",
                "1e50b667.94c22a"
            ]
        ]
    },
    {
        "id": "2e0fad.34361054",
        "type": "ui_numeric",
        "z": "d086e503.3cf068",
        "name": "Input Desired Temp",
        "label": "Desired temperature",
        "group": "c86ef679.165f28",
        "order": 4,
        "width": "6",
        "height": "3",
        "passthru": true,
        "topic": "/livingroom/AC",
        "format": "{{value}}",
        "min": "55",
        "max": "90",
        "step": 1,
        "x": 99.00016784667969,
        "y": 208.888916015625,
        "wires": [
            [
                "8bd1a870.89a438"
            ]
        ]
    },
    {
        "id": "8bd1a870.89a438",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Create global var desired temp",
        "func": "global.set(\"desired_livingroom_temp\",msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 365.0002136230469,
        "y": 208.6889705657959,
        "wires": [
            []
        ]
    },
    {
        "id": "627f2c42.9f0854",
        "type": "inject",
        "z": "d086e503.3cf068",
        "name": "Date",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "x": 83.19998550415039,
        "y": 83.88886260986328,
        "wires": [
            [
                "6bc2fd8.fd8cb04"
            ]
        ]
    },
    {
        "id": "74a21c3c.fba094",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Create global var 'action' (heat/cool)",
        "func": "global.set(\"action\",msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 738.1000556945801,
        "y": 80.8888750076294,
        "wires": [
            []
        ]
    },
    {
        "id": "bad1b553.c2f9c8",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "If temp => desired",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "desired_livingroom_temp",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 290,
        "y": 740,
        "wires": [
            [
                "ecbd5e8c.c71cf"
            ],
            [
                "de94e712.4a4cc8"
            ]
        ],
        "outputLabels": [
            "off",
            "on"
        ]
    },
    {
        "id": "c4730102.977b5",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Test month",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "6",
                "vt": "num",
                "v2": "9",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 337.1999931335449,
        "y": 83.88886260986328,
        "wires": [
            [
                "e51736c7.08a8a8"
            ],
            [
                "ec839421.7b04b8"
            ]
        ]
    },
    {
        "id": "e51736c7.08a8a8",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Set to 'cool'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 503.2000427246094,
        "y": 65.88886260986328,
        "wires": [
            [
                "74a21c3c.fba094"
            ]
        ]
    },
    {
        "id": "ec839421.7b04b8",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Set to 'heat'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "heat",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 503.20004653930664,
        "y": 99.88886451721191,
        "wires": [
            [
                "74a21c3c.fba094"
            ]
        ]
    },
    {
        "id": "f716d9dd.f7c698",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Heat/cool",
        "property": "action",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "heat",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 100,
        "y": 760,
        "wires": [
            [
                "bad1b553.c2f9c8"
            ],
            [
                "fa6b77e1.1bc068"
            ]
        ],
        "outputLabels": [
            "heat",
            "cool"
        ]
    },
    {
        "id": "fa6b77e1.1bc068",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "If temp <= desired",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "desired_livingroom_temp",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 290,
        "y": 780,
        "wires": [
            [
                "ecbd5e8c.c71cf"
            ],
            [
                "de94e712.4a4cc8"
            ]
        ],
        "outputLabels": [
            "off",
            "on"
        ]
    },
    {
        "id": "99ac18a9.550788",
        "type": "mqtt out",
        "z": "d086e503.3cf068",
        "name": "Send on/off to LR AC",
        "topic": "/livingroom/AC/power",
        "qos": "1",
        "retain": "true",
        "broker": "17712889.938867",
        "x": 920,
        "y": 780,
        "wires": []
    },
    {
        "id": "ecbd5e8c.c71cf",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 740,
        "wires": [
            [
                "99ac18a9.550788"
            ]
        ]
    },
    {
        "id": "de94e712.4a4cc8",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 780,
        "wires": [
            [
                "92a67d43.ef7a3"
            ]
        ]
    },
    {
        "id": "e8c7ea9.1743818",
        "type": "comment",
        "z": "d086e503.3cf068",
        "name": "Determine season and create global variable that holds values 'heat' or 'cool' ",
        "info": "",
        "x": 279.1999816894531,
        "y": 29.88886260986328,
        "wires": []
    },
    {
        "id": "62f6f99a.0ade08",
        "type": "comment",
        "z": "d086e503.3cf068",
        "name": "Input desired temperature and create global var with its value",
        "info": "",
        "x": 228,
        "y": 164.00000381469727,
        "wires": []
    },
    {
        "id": "8b05701a.cc175",
        "type": "comment",
        "z": "d086e503.3cf068",
        "name": "Watch for temp reported by LR AC, compare with desired and send power state string to AC to stop or continue",
        "info": "",
        "x": 370,
        "y": 620,
        "wires": []
    },
    {
        "id": "bf391096.52927",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Create global var power state",
        "func": "global.set(\"power_state_livingroom_ac\",msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 375.9001159667969,
        "y": 324.8889503479004,
        "wires": [
            []
        ]
    },
    {
        "id": "92a67d43.ef7a3",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Check if power switch is in 'OFF' position",
        "property": "power_state_livingroom_ac",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 600,
        "y": 840,
        "wires": [
            [
                "99ac18a9.550788"
            ],
            [
                "ecbd5e8c.c71cf"
            ]
        ],
        "outputLabels": [
            "on",
            "off"
        ]
    },
    {
        "id": "aa1c44da.b3af68",
        "type": "comment",
        "z": "d086e503.3cf068",
        "name": "Set AC power 'on' or 'off and create global var that holds that value",
        "info": "",
        "x": 247,
        "y": 285.88890075683594,
        "wires": []
    },
    {
        "id": "6bc2fd8.fd8cb04",
        "type": "moment",
        "z": "d086e503.3cf068",
        "name": "Month",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "EST",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "MM",
        "locale": "en_US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "EST",
        "x": 199.1999855041504,
        "y": 82.88887596130371,
        "wires": [
            [
                "c4730102.977b5"
            ]
        ]
    },
    {
        "id": "a8786619.c8e5e8",
        "type": "ui_gauge",
        "z": "d086e503.3cf068",
        "name": "Temp F",
        "group": "c86ef679.165f28",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Room Temperature",
        "label": "",
        "format": "{{value}} F",
        "min": "40",
        "max": "110",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 620,
        "y": 680,
        "wires": []
    },
    {
        "id": "a2c4aeda.60cfc",
        "type": "ui_text",
        "z": "d086e503.3cf068",
        "group": "c86ef679.165f28",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "AC Status",
        "label": "AC is ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 800,
        "y": 500,
        "wires": []
    },
    {
        "id": "d6ecba3e.2d1698",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Set to 'standby'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on standby",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 540,
        "wires": [
            [
                "a2c4aeda.60cfc"
            ]
        ],
        "outputLabels": [
            "standby"
        ]
    },
    {
        "id": "29661639.72cd5a",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Determine Power State",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 350,
        "y": 460,
        "wires": [
            [
                "6d9a7349.5a90fc"
            ],
            [
                "58d07110.67ae3"
            ]
        ],
        "inputLabels": [
            "'on'"
        ],
        "outputLabels": [
            "'off' or 'stby'",
            ""
        ]
    },
    {
        "id": "58d07110.67ae3",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "'Off' or \"Stby'",
        "property": "power_state_livingroom_ac",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 430,
        "y": 540,
        "wires": [
            [
                "28cd03a3.f971ec"
            ],
            [
                "d6ecba3e.2d1698"
            ]
        ],
        "inputLabels": [
            "off"
        ],
        "outputLabels": [
            "standby",
            ""
        ]
    },
    {
        "id": "6d9a7349.5a90fc",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Set to 'running'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 460,
        "wires": [
            [
                "a2c4aeda.60cfc"
            ]
        ]
    },
    {
        "id": "28cd03a3.f971ec",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Set to 'off'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 500,
        "wires": [
            [
                "a2c4aeda.60cfc"
            ]
        ]
    },
    {
        "id": "cb4d0609.2b0d38",
        "type": "comment",
        "z": "d086e503.3cf068",
        "name": "Determine the state of the AC and show it on the dashboard as 'running', 'off' or 'on standby'",
        "info": "",
        "x": 315.1000061035156,
        "y": 406.800048828125,
        "wires": []
    },
    {
        "id": "d7b4232d.60b2d",
        "type": "debug",
        "z": "d086e503.3cf068",
        "name": "Rounded temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 900,
        "y": 740,
        "wires": []
    },
    {
        "id": "63b75e76.75d01",
        "type": "debug",
        "z": "d086e503.3cf068",
        "name": "Raw temp",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 270,
        "y": 880,
        "wires": []
    },
    {
        "id": "1e50b667.94c22a",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Round up temp",
        "func": "temp = parseFloat(msg.payload)\nrounded_to_1 = Math.round(temp).toFixed(1);\nrounded_to_0 = Math.round(temp).toFixed();\nvar decimal = parseFloat((temp).toFixed(1)) - parseFloat(Math.trunc(temp));\n\ndecimal = parseFloat(decimal).toFixed(1);\n\nif (parseFloat(decimal) == 0.4) {\n    temp = Math.round(rounded_to_1 - 0.1);\n    return msg;\n} else if (parseFloat(decimal) == 0.5) {\n    temp = Math.round(rounded_to_1 + 0.1);\n    return msg;\n} else {\n    msg.payload = Math.round(temp).toFixed();\n    return msg;\n}\n",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 680,
        "wires": [
            [
                "a8786619.c8e5e8",
                "f716d9dd.f7c698",
                "d7b4232d.60b2d"
            ]
        ]
    },
    {
        "id": "17712889.938867",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c86ef679.165f28",
        "type": "ui_group",
        "z": "",
        "name": "",
        "tab": "af9030c7.d837",
        "disp": true,
        "width": "6"
    },
    {
        "id": "af9030c7.d837",
        "type": "ui_tab",
        "z": "",
        "name": "Living room AC",
        "icon": "dashboard"
    }
]
