flow.json
[{"id":"d086e503.3cf068","type":"tab","label":"Living room","disabled":false,"info":""},{"id":"64f760ea.ba631","type":"tab","label":"Stats","disabled":false,"info":""},{"id":"c86ef679.165f28","type":"ui_group","z":"","name":"","tab":"af9030c7.d837","disp":true,"width":"6"},{"id":"17712889.938867","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"af9030c7.d837","type":"ui_tab","z":"","name":"Living room","icon":"dashboard"},{"id":"9b32fe88.97067","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"AC Dashboard","hideToolbar":"false","allowSwipe":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"4e2da206.7f897c","type":"ui_tab","z":"","name":"Stats","icon":"dashboard","order":2},{"id":"a5cd3bd.c77e8c8","type":"ui_group","z":"","name":"Living room AC","tab":"4e2da206.7f897c","order":1,"disp":true,"width":"6"},{"id":"9c0df045.270c3","type":"mqtt in","z":"d086e503.3cf068","name":"Control LR AC power","topic":"/livingroom/AC/power","qos":"2","broker":"17712889.938867","x":105,"y":455.80009937286377,"wires":[["29661639.72cd5a"]],"outputLabels":["topic"]},{"id":"ab93e1c6.b2f35","type":"ui_switch","z":"d086e503.3cf068","name":"Set LR AC power switch","label":"Power","group":"c86ef679.165f28","order":2,"width":"6","height":"1","passthru":true,"decouple":"false","topic":"/livingroom/AC","style":"","onvalue":"on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"off","offvalueType":"str","officon":"","offcolor":"","x":118.90010070800781,"y":326.00003814697266,"wires":[["bf391096.52927"]]},{"id":"702939c8.771748","type":"mqtt in","z":"d086e503.3cf068","name":"In -> Watch LR AC Temp","topic":"/livingroom/AC/temp","qos":"2","broker":"17712889.938867","x":115,"y":679.8890066146851,"wires":[["58ec51f4.0cc3"]]},{"id":"2e0fad.34361054","type":"ui_numeric","z":"d086e503.3cf068","name":"Input Desired Temp","label":"Set temperature","group":"c86ef679.165f28","order":4,"width":"6","height":"3","passthru":true,"topic":"/livingroom/AC","format":"{{value}}","min":"55","max":"90","step":1,"x":99.00016784667969,"y":208.888916015625,"wires":[["8bd1a870.89a438"]]},{"id":"8bd1a870.89a438","type":"function","z":"d086e503.3cf068","name":"Create global var desired temp","func":"global.set(\"desired_livingroom_temp\",msg.payload);\n","outputs":1,"noerr":0,"x":365.0002136230469,"y":208.6889705657959,"wires":[[]]},{"id":"627f2c42.9f0854","type":"inject","z":"d086e503.3cf068","name":"Date","topic":"","payload":"","payloadType":"date","repeat":"86400","crontab":"","once":true,"x":83.19998550415039,"y":83.88886260986328,"wires":[["6bc2fd8.fd8cb04"]]},{"id":"74a21c3c.fba094","type":"function","z":"d086e503.3cf068","name":"Create global var 'action' (heat/cool)","func":"global.set(\"action\",msg.payload);\n","outputs":1,"noerr":0,"x":738.1000556945801,"y":80.8888750076294,"wires":[[]]},{"id":"bad1b553.c2f9c8","type":"switch","z":"d086e503.3cf068","name":"If temp => desired","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"desired_livingroom_temp","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":660.0002708435059,"y":660.3890924453735,"wires":[["ecbd5e8c.c71cf"],["de94e712.4a4cc8"]],"outputLabels":["off","on"]},{"id":"c4730102.977b5","type":"switch","z":"d086e503.3cf068","name":"Test month","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"6","vt":"num","v2":"9","v2t":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":337.1999931335449,"y":83.88886260986328,"wires":[["e51736c7.08a8a8"],["ec839421.7b04b8"]]},{"id":"e51736c7.08a8a8","type":"change","z":"d086e503.3cf068","name":"Set to 'cool'","rules":[{"t":"set","p":"payload","pt":"msg","to":"cool","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":503.2000427246094,"y":65.88886260986328,"wires":[["74a21c3c.fba094"]]},{"id":"ec839421.7b04b8","type":"change","z":"d086e503.3cf068","name":"Set to 'heat'","rules":[{"t":"set","p":"payload","pt":"msg","to":"heat","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":503.20004653930664,"y":99.88886451721191,"wires":[["74a21c3c.fba094"]]},{"id":"f716d9dd.f7c698","type":"switch","z":"d086e503.3cf068","name":"Heat/cool","property":"action","propertyType":"global","rules":[{"t":"eq","v":"heat","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":492.50011825561523,"y":699.8889961242676,"wires":[["bad1b553.c2f9c8"],["fa6b77e1.1bc068"]],"outputLabels":["heat","cool"]},{"id":"fa6b77e1.1bc068","type":"switch","z":"d086e503.3cf068","name":"If temp <= desired","property":"payload","propertyType":"msg","rules":[{"t":"lte","v":"desired_livingroom_temp","vt":"global"},{"t":"else"}],"checkall":"true","outputs":2,"x":658.4001770019531,"y":702.8890933990479,"wires":[["ecbd5e8c.c71cf"],["de94e712.4a4cc8"]],"outputLabels":["off","on"]},{"id":"99ac18a9.550788","type":"mqtt out","z":"d086e503.3cf068","name":"Send on/off to LR AC","topic":"/livingroom/AC/power","qos":"1","retain":"true","broker":"17712889.938867","x":1262.5005416870117,"y":662.8891410827637,"wires":[]},{"id":"ecbd5e8c.c71cf","type":"change","z":"d086e503.3cf068","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":835.0002822875977,"y":661.8890924453735,"wires":[["99ac18a9.550788"]]},{"id":"de94e712.4a4cc8","type":"change","z":"d086e503.3cf068","name":"On","rules":[{"t":"set","p":"payload","pt":"msg","to":"on","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":842.9001846313477,"y":698.3890933990479,"wires":[["92a67d43.ef7a3"]]},{"id":"e8c7ea9.1743818","type":"comment","z":"d086e503.3cf068","name":"Determine season and create global variable that holds values 'heat' or 'cool' ","info":"","x":279.1999816894531,"y":29.88886260986328,"wires":[]},{"id":"62f6f99a.0ade08","type":"comment","z":"d086e503.3cf068","name":"Input desired temperature and create global var with its value","info":"","x":228,"y":164.00000381469727,"wires":[]},{"id":"8b05701a.cc175","type":"comment","z":"d086e503.3cf068","name":"Watch for temp reported by LR AC, compare with desired and send power state string to AC to stop or continue","info":"","x":377.5,"y":612.8889904022217,"wires":[]},{"id":"bf391096.52927","type":"function","z":"d086e503.3cf068","name":"Create global var power state","func":"global.set(\"power_state_livingroom_ac\",msg.payload);\n","outputs":1,"noerr":0,"x":375.9001159667969,"y":324.8889503479004,"wires":[[]]},{"id":"92a67d43.ef7a3","type":"switch","z":"d086e503.3cf068","name":"Check if power is 'off'","property":"power_state_livingroom_ac","propertyType":"global","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","outputs":2,"x":1017.000244140625,"y":697.3889961242676,"wires":[["99ac18a9.550788"],["72725614.b3b638"]],"outputLabels":["on","off"]},{"id":"72725614.b3b638","type":"change","z":"d086e503.3cf068","name":"Off","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1186.0002517700195,"y":724.3889980316162,"wires":[["99ac18a9.550788"]],"outputLabels":["off"]},{"id":"aa1c44da.b3af68","type":"comment","z":"d086e503.3cf068","name":"Set AC power 'on' or 'off and create global var that holds that value","info":"","x":247,"y":285.88890075683594,"wires":[]},{"id":"6bc2fd8.fd8cb04","type":"moment","z":"d086e503.3cf068","name":"Month","topic":"","input":"payload","inputType":"msg","inTz":"EST","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"MM","locale":"en_US","output":"payload","outputType":"msg","outTz":"EST","x":199.1999855041504,"y":82.88887596130371,"wires":[["c4730102.977b5"]]},{"id":"a8786619.c8e5e8","type":"ui_gauge","z":"d086e503.3cf068","name":"Temp F","group":"c86ef679.165f28","order":5,"width":"0","height":"0","gtype":"gage","title":"Room Temperature","label":"","format":"{{value}} F","min":"40","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":493.30012130737305,"y":661.000078201294,"wires":[]},{"id":"58ec51f4.0cc3","type":"function","z":"d086e503.3cf068","name":"Round up temp","func":"msg.payload = Math.round(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":323.1000061035156,"y":679.2000427246094,"wires":[["a8786619.c8e5e8","f716d9dd.f7c698"]]},{"id":"4a1aef56.75f36","type":"mqtt in","z":"64f760ea.ba631","name":"In -> Watch LR AC Temp","topic":"/livingroom/AC/temp","qos":"2","broker":"17712889.938867","x":133.00003051757812,"y":95.5000171661377,"wires":[["515e1ae4.cb2134"]]},{"id":"a2c4aeda.60cfc","type":"ui_text","z":"d086e503.3cf068","group":"c86ef679.165f28","order":0,"width":0,"height":0,"name":"AC Status","label":"AC is ","format":"{{msg.payload}}","layout":"row-center","x":971.1001243591309,"y":478.8000030517578,"wires":[]},{"id":"d6ecba3e.2d1698","type":"change","z":"d086e503.3cf068","name":"Set to 'standby'","rules":[{"t":"set","p":"payload","pt":"msg","to":"on standby","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757.1001167297363,"y":520.8000049591064,"wires":[["a2c4aeda.60cfc"]],"outputLabels":["standby"]},{"id":"29661639.72cd5a","type":"switch","z":"d086e503.3cf068","name":"Determine Power State","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":335.10001373291016,"y":454.80005073547363,"wires":[["6d9a7349.5a90fc"],["58d07110.67ae3"]],"inputLabels":["'on'"],"outputLabels":["'off' or 'stby'",""]},{"id":"58d07110.67ae3","type":"switch","z":"d086e503.3cf068","name":"'Off' or \"Stby'","property":"power_state_livingroom_ac","propertyType":"global","rules":[{"t":"eq","v":"off","vt":"str"},{"t":"else"}],"checkall":"true","outputs":2,"x":533.1000671386719,"y":472.80005264282227,"wires":[["28cd03a3.f971ec"],["d6ecba3e.2d1698"]],"inputLabels":["off"],"outputLabels":["standby",""]},{"id":"6d9a7349.5a90fc","type":"change","z":"d086e503.3cf068","name":"Change to 'running'","rules":[{"t":"set","p":"payload","pt":"msg","to":"running","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":765.1001167297363,"y":448.80005073547363,"wires":[["a2c4aeda.60cfc"]]},{"id":"28cd03a3.f971ec","type":"change","z":"d086e503.3cf068","name":"Set to 'off'","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":735.1001167297363,"y":484.8000030517578,"wires":[["a2c4aeda.60cfc"]]},{"id":"cb4d0609.2b0d38","type":"comment","z":"d086e503.3cf068","name":"Determine the state of the AC and show it on the dashboard as 'running', 'off' or 'on standby'","info":"","x":315.1000061035156,"y":406.800048828125,"wires":[]},{"id":"515e1ae4.cb2134","type":"change","z":"64f760ea.ba631","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":346.37506103515625,"y":97.00003433227539,"wires":[["9b2ce14e.f8fcd"]],"outputLabels":["Current time"]},{"id":"5de3c815.cab7e8","type":"ui_text","z":"64f760ea.ba631","group":"a5cd3bd.c77e8c8","order":0,"width":0,"height":0,"name":"Last update from Livingroom AC","label":"Last update time from Livingroom AC","format":"{{msg.payload}}","layout":"col-center","x":706.3750839233398,"y":96.00000476837158,"wires":[]},{"id":"9b2ce14e.f8fcd","type":"moment","z":"64f760ea.ba631","name":"Time","topic":"","input":"payload","inputType":"msg","inTz":"America/New_York","adjAmount":"0","adjType":"hours","adjDir":"add","format":"MMM DD HH:mm:ss","locale":"en_US","output":"payload","outputType":"msg","outTz":"America/New_York","x":498.87507247924805,"y":96.5000114440918,"wires":[["5de3c815.cab7e8"]]},{"id":"a4e51b0b.e9f338","type":"comment","z":"64f760ea.ba631","name":"Display time of the last update received from LR AC","info":"","x":213.87501525878906,"y":49.50000190734863,"wires":[]}]
