flow.json
[
    {
        "id": "d086e503.3cf068",
        "type": "tab",
        "label": "Living room AC",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9c0df045.270c3",
        "type": "mqtt in",
        "z": "d086e503.3cf068",
        "name": "Control LR AC power",
        "topic": "/livingroom/AC/power",
        "qos": "2",
        "broker": "17712889.938867",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "29661639.72cd5a"
            ]
        ],
        "outputLabels": [
            "topic"
        ]
    },
    {
        "id": "ab93e1c6.b2f35",
        "type": "ui_switch",
        "z": "d086e503.3cf068",
        "name": "Set LR AC power switch",
        "label": "Power",
        "group": "c86ef679.165f28",
        "order": 2,
        "width": "6",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "/livingroom/AC",
        "style": "",
        "onvalue": "on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "bf391096.52927",
                "c2c2db5a.bb2618"
            ]
        ]
    },
    {
        "id": "702939c8.771748",
        "type": "mqtt in",
        "z": "d086e503.3cf068",
        "name": "In -> Watch LR AC Temp",
        "topic": "/livingroom/AC/temp",
        "qos": "0",
        "broker": "17712889.938867",
        "x": 115,
        "y": 679.8890066146851,
        "wires": [
            [
                "1e50b667.94c22a"
            ]
        ]
    },
    {
        "id": "2e0fad.34361054",
        "type": "ui_numeric",
        "z": "d086e503.3cf068",
        "name": "Input Desired Temp",
        "label": "Desired temperature",
        "group": "c86ef679.165f28",
        "order": 4,
        "width": "6",
        "height": "3",
        "passthru": true,
        "topic": "/livingroom/AC",
        "format": "{{value}}",
        "min": "55",
        "max": "90",
        "step": 1,
        "x": 110,
        "y": 180,
        "wires": [
            [
                "8bd1a870.89a438",
                "e53b1b14.e601d8"
            ]
        ]
    },
    {
        "id": "8bd1a870.89a438",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Create global var desired temp",
        "func": "global.set(\"desired_livingroom_temp\",msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 376.0000457763672,
        "y": 179.8000545501709,
        "wires": [
            []
        ]
    },
    {
        "id": "627f2c42.9f0854",
        "type": "inject",
        "z": "d086e503.3cf068",
        "name": "Date",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "86400",
        "crontab": "",
        "once": true,
        "x": 90,
        "y": 80,
        "wires": [
            [
                "6bc2fd8.fd8cb04"
            ]
        ]
    },
    {
        "id": "74a21c3c.fba094",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Create global var 'action' (heat/cool)",
        "func": "global.set(\"action\",msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 780,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c4730102.977b5",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Test month",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "btwn",
                "v": "6",
                "vt": "num",
                "v2": "9",
                "v2t": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 350,
        "y": 80,
        "wires": [
            [
                "e51736c7.08a8a8"
            ],
            [
                "ec839421.7b04b8"
            ]
        ]
    },
    {
        "id": "e51736c7.08a8a8",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Set to 'cool'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "cool",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 60,
        "wires": [
            [
                "74a21c3c.fba094"
            ]
        ]
    },
    {
        "id": "ec839421.7b04b8",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Set to 'heat'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "heat",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530.0000038146973,
        "y": 94.00000190734863,
        "wires": [
            [
                "74a21c3c.fba094"
            ]
        ]
    },
    {
        "id": "f716d9dd.f7c698",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Heat/cool",
        "property": "action",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "heat",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 240,
        "y": 820,
        "wires": [
            [
                "2145252f.66af1a"
            ],
            [
                "4a380d64.1bff64"
            ]
        ],
        "outputLabels": [
            "heat",
            "cool"
        ]
    },
    {
        "id": "e8c7ea9.1743818",
        "type": "comment",
        "z": "d086e503.3cf068",
        "name": "Determine season and create global variable that holds values 'heat' or 'cool' ",
        "info": "",
        "x": 290,
        "y": 20,
        "wires": []
    },
    {
        "id": "62f6f99a.0ade08",
        "type": "comment",
        "z": "d086e503.3cf068",
        "name": "Input desired temperature and create global var with its value",
        "info": "",
        "x": 240,
        "y": 140,
        "wires": []
    },
    {
        "id": "8b05701a.cc175",
        "type": "comment",
        "z": "d086e503.3cf068",
        "name": "Watch for temp reported by LR AC, compare with desired and send power state string to AC to stop or continue",
        "info": "",
        "x": 370,
        "y": 620,
        "wires": []
    },
    {
        "id": "bf391096.52927",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Create global var power state",
        "func": "global.set(\"power_state_livingroom_ac\",msg.payload);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 387.00001525878906,
        "y": 298.88891220092773,
        "wires": [
            []
        ]
    },
    {
        "id": "aa1c44da.b3af68",
        "type": "comment",
        "z": "d086e503.3cf068",
        "name": "Set AC power 'on' or 'off and create global var that holds that value",
        "info": "",
        "x": 260,
        "y": 260,
        "wires": []
    },
    {
        "id": "6bc2fd8.fd8cb04",
        "type": "moment",
        "z": "d086e503.3cf068",
        "name": "Month",
        "topic": "",
        "input": "payload",
        "inputType": "msg",
        "inTz": "EST",
        "adjAmount": "0",
        "adjType": "hours",
        "adjDir": "subtract",
        "format": "MM",
        "locale": "en_US",
        "output": "payload",
        "outputType": "msg",
        "outTz": "EST",
        "x": 210,
        "y": 80,
        "wires": [
            [
                "c4730102.977b5"
            ]
        ]
    },
    {
        "id": "a8786619.c8e5e8",
        "type": "ui_gauge",
        "z": "d086e503.3cf068",
        "name": "Temp F",
        "group": "c86ef679.165f28",
        "order": 5,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Room Temperature",
        "label": "",
        "format": "{{value}} F",
        "min": "40",
        "max": "110",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 400,
        "y": 740,
        "wires": []
    },
    {
        "id": "a2c4aeda.60cfc",
        "type": "ui_text",
        "z": "d086e503.3cf068",
        "group": "c86ef679.165f28",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "AC Status",
        "label": "AC is ",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "x": 920,
        "y": 500,
        "wires": []
    },
    {
        "id": "d6ecba3e.2d1698",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Set to 'standby'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on standby",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 540,
        "wires": [
            [
                "a2c4aeda.60cfc"
            ]
        ],
        "outputLabels": [
            "standby"
        ]
    },
    {
        "id": "29661639.72cd5a",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Determine Power State",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 350,
        "y": 460,
        "wires": [
            [
                "6d9a7349.5a90fc"
            ],
            [
                "58d07110.67ae3"
            ]
        ],
        "inputLabels": [
            "'on'"
        ],
        "outputLabels": [
            "'off' or 'stby'",
            ""
        ]
    },
    {
        "id": "58d07110.67ae3",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "'Off' or \"Stby'",
        "property": "power_state_livingroom_ac",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 570,
        "y": 520,
        "wires": [
            [
                "28cd03a3.f971ec"
            ],
            [
                "d6ecba3e.2d1698"
            ]
        ],
        "inputLabels": [
            "off"
        ],
        "outputLabels": [
            "standby",
            ""
        ]
    },
    {
        "id": "6d9a7349.5a90fc",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Set to 'running'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "running",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 460,
        "wires": [
            [
                "a2c4aeda.60cfc"
            ]
        ]
    },
    {
        "id": "28cd03a3.f971ec",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Set to 'off'",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 500,
        "wires": [
            [
                "a2c4aeda.60cfc"
            ]
        ]
    },
    {
        "id": "cb4d0609.2b0d38",
        "type": "comment",
        "z": "d086e503.3cf068",
        "name": "Determine the state of the AC and show it on the dashboard as 'running', 'off' or 'on standby'",
        "info": "",
        "x": 315.1000061035156,
        "y": 406.800048828125,
        "wires": []
    },
    {
        "id": "1e50b667.94c22a",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Round up temp",
        "func": "msg.payload = parseInt(Math.round(msg.payload).toFixed());\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 120,
        "y": 740,
        "wires": [
            [
                "a8786619.c8e5e8",
                "be52ee65.c4c9d"
            ]
        ]
    },
    {
        "id": "be52ee65.c4c9d",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Flag selector. If flag 0 output 1",
        "property": "flag",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 170,
        "y": 900,
        "wires": [
            [
                "462f78bf.426e78",
                "f716d9dd.f7c698"
            ],
            [
                "d320e29c.3ff4f",
                "2d6a63e.45fbf9c"
            ]
        ]
    },
    {
        "id": "2145252f.66af1a",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Heat. If temp => desired",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "desired_livingroom_temp",
                "vt": "global"
            },
            {
                "t": "lt",
                "v": "desired_livingroom_temp",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 800,
        "wires": [
            [
                "c30edc96.4dd09",
                "7d78dfac.b62ea",
                "847ef8b7.37aa48"
            ],
            [
                "d6c109ec.fa9028",
                "5b1f97b.5a90568"
            ]
        ],
        "outputLabels": [
            "off",
            "on"
        ]
    },
    {
        "id": "4a380d64.1bff64",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Cool. If temp <= desired",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "desired_livingroom_temp",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 840,
        "wires": [
            [
                "c30edc96.4dd09",
                "7d78dfac.b62ea"
            ],
            [
                "d6c109ec.fa9028"
            ]
        ],
        "outputLabels": [
            "off",
            "on"
        ]
    },
    {
        "id": "9a8e9ae2.65c348",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Heat. If temp => desired - 2",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "desired_livingroom_temp",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 960,
        "wires": [
            [
                "c30edc96.4dd09",
                "51c76635.f5d348"
            ],
            [
                "d6c109ec.fa9028",
                "d1b31868.0dbfc8"
            ]
        ],
        "outputLabels": [
            "off",
            "on"
        ]
    },
    {
        "id": "373b67b9.7c1078",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Cool. If temp <= desired + 2",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "desired_livingroom_temp",
                "vt": "global"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 1000,
        "wires": [
            [
                "c30edc96.4dd09"
            ],
            [
                "d6c109ec.fa9028"
            ]
        ],
        "outputLabels": [
            "off",
            "on"
        ]
    },
    {
        "id": "c30edc96.4dd09",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "Off",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "off",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 780,
        "wires": [
            [
                "ca8d97d5.dab038",
                "50fed288.08077c"
            ]
        ]
    },
    {
        "id": "d6c109ec.fa9028",
        "type": "change",
        "z": "d086e503.3cf068",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "on",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 880,
        "wires": [
            [
                "4bd96796.9a9038"
            ]
        ]
    },
    {
        "id": "4bd96796.9a9038",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Check if power switch is in 'OFF' position",
        "property": "power_state_livingroom_ac",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 920,
        "y": 880,
        "wires": [
            [
                "c633b55e.5f1d08",
                "ca8d97d5.dab038",
                "50fed288.08077c"
            ],
            [
                "c30edc96.4dd09"
            ]
        ],
        "outputLabels": [
            "on",
            "off"
        ]
    },
    {
        "id": "c633b55e.5f1d08",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Flag 0",
        "func": "global.set(\"flag\", 0);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1190,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "50fed288.08077c",
        "type": "debug",
        "z": "d086e503.3cf068",
        "name": "Mode",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 1190,
        "y": 840,
        "wires": []
    },
    {
        "id": "d06ed40f.879938",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Temp + 2",
        "func": "msg.payload += 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 960,
        "wires": [
            [
                "9a8e9ae2.65c348"
            ]
        ]
    },
    {
        "id": "4d69911.d4ad97",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Temp - 2",
        "func": "msg.payload -= 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 240,
        "y": 1000,
        "wires": [
            [
                "373b67b9.7c1078"
            ]
        ]
    },
    {
        "id": "462f78bf.426e78",
        "type": "debug",
        "z": "d086e503.3cf068",
        "name": "Test flag 0",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 470,
        "y": 880,
        "wires": []
    },
    {
        "id": "d320e29c.3ff4f",
        "type": "debug",
        "z": "d086e503.3cf068",
        "name": "Test flag 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 470,
        "y": 920,
        "wires": []
    },
    {
        "id": "7d78dfac.b62ea",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Flag 1",
        "func": "global.set(\"flag\", 1);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "ca8d97d5.dab038",
        "type": "mqtt out",
        "z": "d086e503.3cf068",
        "name": "Send on/off to LR AC",
        "topic": "/livingroom/AC/power",
        "qos": "1",
        "retain": "true",
        "broker": "17712889.938867",
        "x": 1240,
        "y": 780,
        "wires": []
    },
    {
        "id": "c2c2db5a.bb2618",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Flag 0",
        "func": "global.set(\"flag\", 0);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 321.0998992919922,
        "y": 333.99996185302734,
        "wires": [
            []
        ]
    },
    {
        "id": "847ef8b7.37aa48",
        "type": "debug",
        "z": "d086e503.3cf068",
        "name": "Off",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 720,
        "wires": []
    },
    {
        "id": "5b1f97b.5a90568",
        "type": "debug",
        "z": "d086e503.3cf068",
        "name": "On",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 690,
        "y": 760,
        "wires": []
    },
    {
        "id": "2d6a63e.45fbf9c",
        "type": "switch",
        "z": "d086e503.3cf068",
        "name": "Heat/cool",
        "property": "action",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "heat",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "outputs": 2,
        "x": 80,
        "y": 980,
        "wires": [
            [
                "d06ed40f.879938"
            ],
            [
                "4d69911.d4ad97"
            ]
        ],
        "outputLabels": [
            "heat",
            "cool"
        ]
    },
    {
        "id": "e53b1b14.e601d8",
        "type": "function",
        "z": "d086e503.3cf068",
        "name": "Flag 0",
        "func": "global.set(\"flag\", 0);\n",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "51c76635.f5d348",
        "type": "debug",
        "z": "d086e503.3cf068",
        "name": "Flag 1 Off",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 960,
        "wires": []
    },
    {
        "id": "d1b31868.0dbfc8",
        "type": "debug",
        "z": "d086e503.3cf068",
        "name": "Flag 1 On",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 700,
        "y": 1000,
        "wires": []
    },
    {
        "id": "17712889.938867",
        "type": "mqtt-broker",
        "z": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "c86ef679.165f28",
        "type": "ui_group",
        "z": "",
        "name": "",
        "tab": "af9030c7.d837",
        "disp": true,
        "width": "6"
    },
    {
        "id": "af9030c7.d837",
        "type": "ui_tab",
        "z": "",
        "name": "Living room AC",
        "icon": "dashboard"
    }
]
